.contacts {
  line-height: 20px;
  background-color: @white;
  box-shadow: red;
}

.contacts__title {
  .font-heading(400, uppercase);
  .font-style(16px, 20px);
  color: @black;
}

.contacts--catalog {
  background-color: @lightgray;
}

.contacts__address {
  margin: 0px;
}
