.contacts {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  padding-left: 19px;
  padding-right: 19px;

  min-height: 114px;

  line-height: 20px;

  background-color: @lightgray;

  &--main {
    background-color: @white;
  }
}

.contacts__title {
  margin: 0;
  padding: 0;

  flex-basis: 140px;

  .font-oswald(uppercase);
  font-size: 16px;
  line-height: 20px;
  color: @black;
}

.contacts--catalog {
  background-color: @lightgray;
}

.contacts__address {
  margin: 0;
  padding: 0;

  flex-basis: 140px;
}

@media (min-width: @tablet-width) {
  .contacts {
    box-sizing: border-box;

    width: 100%;
    min-height: 201px;

    padding-top: 4px;

    padding-left: 0;
    padding-right: 0;
  }

  .contacts__title {
    flex-basis: 200px;

    margin-left: 71px;

    font-size: 20px;
    line-height: 25px;
  }

  .contacts__address {
    margin-right: 72px;

    text-align: right;
    font-size: 16px;
    line-height: 20px;
    flex-basis: 160px;
  }

  .contacts__margin {
    /* временное решение - посмотрел работает или нет */
    display: block;
    margin-top: 18px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    position: absolute;
    top: 95px;
    left: 110px;

    width: 570px;
    /* min-height: 201px; */
    background-color: @white;
  }

  .contacts__title {
    margin: 0;
    margin-left: 76px;
  }

  .contacts__address {
    margin-right: 84px;

    text-align: left;
  }
}
