.example {
  margin: 0 auto;

  width: 100%;
  min-height: 705px;

  background-color: @lightgray;
}

.example__title {
  box-sizing: border-box;

  margin: 0 auto;
  padding-top: 18px;

  min-height: 99px;
  width: 87.5%;

  .font-oswald(none);
  font-size: 36px;
  line-height: 60px;
  color: @black;

  background-color: @lightgray;
}

.example__food-stats {
  margin: 0 auto;

  width: 87.5%;
}

.example__text {
  .list-reset;

  display: block;

  padding-right: 5px;
  padding-top: 2px;

  min-height: 108px;
  font-size: 14px;
  line-height: 18px;
  background-color: @lightgray;
}

.example__list {
  .list-reset;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  min-height: 100px;

  list-style: none;
  background-color: @lightgray;
}

.example__item {
  display: flex;
  flex-direction: column;
  position: relative;

  margin-top: 25px;
  padding-top: 13px;

  height: 41px;
  width: 122px;

  border: 1px solid #cfcfcf;
  text-align: center;
  border-radius: 3px;
}

.example__result-num {
  .font-oswald(uppercase);
  font-size: 24px;
  line-height: 24px;
  color: @black;
}

.example__result-text {
  position: absolute;
  top: 46px;
  left: 26px;

  margin: 0;
  padding: 0;

  font-weight: 400;
  text-transform: none;
  font-size: 12px;
  line-height: 12px;
  color: @black;
  width: 68px;
  background-color: @lightgray;
}

.example__text-summarize {
  .list-reset;
  display: block;

  box-sizing: border-box;

  margin: 0;
  padding-top: 15px;

  min-height: 50px;

  text-align: center;

  .font-oswald(uppercase);
  font-size: 14px;
  line-height: 20px;
  color: @black;
  background-color: @lightgray;
}

.example__catchange {
  margin: 0 auto;

  min-height: 340px;
  width: 100%;

  background-color: @lightgray;
}

.example__catchange img {
  display: block;

  margin: 0 auto;

  padding-top: 19px;

  width: 320px;
}

.example__slider-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  box-sizing: border-box;

  margin: 0 auto;
  padding-top: 32px;

  text-align: center;
  width: 202px;
}

.example__slider {
  position: relative;

  padding-top: 3px;
  padding-left: 3px;
}

.example__slider::before {
  content: "";
  display: inline-block;

  box-sizing: border-box;

  width: 84px;
  height: 14px;

  background-color: @white;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
}

.example__slider::after {
  position: absolute;
  display: block;

  content: "";
  top: 7px;
  left: 9px;

  width: 35px;
  height: 6px;

  background-color: #68b738;
  border-radius: 6px;
}

.example__catchange-text {
  margin: 0;
  padding: 0;

  .font-oswald(uppercase);
  font-size: 16px;
  line-height: 20px;
  color: @black;

  &:nth-child(1) {
    margin-left: 5px;
  }

  cursor: pointer;
  user-select: none;
}

@media (min-width: @tablet-width) {
  .example {
    background-color: @white;
  }

  .example__title {
    padding-top: 12px;

    width: 92.19%;

    font-size: 60px;
    line-height: 60px;
    background-color: @white;
  }

  .example__food-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 92.19%;
    min-height: 259px;

    padding-bottom: 230px;
  }

  .example__text {
    box-sizing: border-box;

    padding-top: 38px;

    width: 98%;
    min-height: 50px;

    font-size: 16px;
    line-height: 24px;
    background-color: @white;

    align-self: flex-start;
  }

  .example__list {
    width: 365px;

    background-color: @white;
  }

  .example__item {
    background-color: white;

    width: 160px;
    height: 57px;

    margin-top: 28px;
  }

  .example__result-num {
    font-size: 30px;
    line-height: 37.02px;
  }

  .example__result-text {
    top: 88%;
    left: 9.3%;

    width: 130px;

    font-size: 14px;
    line-height: 14px;
    background-color: @white;
  }

  .example__text-summarize {
    box-sizing: border-box;

    padding-top: 33px;

    width: 190px;

    font-size: 20px;
    line-height: 29px;
    background-color: @white;
    text-align: right;
  }

  .example__catchange {
    position: relative;

    width: 100%;
    min-height: 457px;
  }

  .example__catchange-text:nth-child(1) {
    margin-left: 0;
  }

  .example__catchange img {
    position: absolute;
    top: -192px;
    left: 11px;
    right: 0;

    margin: 0 auto;

    width: 690px;
    height: 517px;
  }

  .example__slider-block {
    margin: 0 auto;
    padding-top: 366px;
    padding-bottom: 68px;

    width: 570px;
  }

  .example__slider::before {
    margin-bottom: 2px;

    width: 428px;
    height: 6px;

    border: none;
    background-color: #dcdcdc;
  }

  .example__slider::after {
    left: 46.7%;
    top: -4px;

    width: 8px;
    height: 8px;

    border-radius: 50px;
    border: 12px solid @white;
    box-shadow: 0 0 3px 0 #34495e;
  }

  .example__slider:hover::after {
    box-shadow: 0 2px 4px -1px #34495e;
  }

  .example__slider:active::after {
    box-shadow: 0 0 0 1px #68b738,
      0 2px 3px 0 #34495e;
  }

  .example__catchange-text {
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 8px;
    border-bottom: 1px dotted gray;

    &:hover {
      border-bottom: 1px solid gray;
    }

    &:active {
      border-bottom: 0;
    }
  }
}

@media (min-width: @desktop-width) {
  .example {
    background-color: @lightgray;

    min-height: 650px;
    height: 650px;
  }

  .example__title-wrapper {
    background-color: @white;
  }

  .example__title {
    padding-top: 53px;
    padding-left: 40px;

    width: 1300px;
    min-height: 190px;
  }

  .example__container {
    display: flex;
    flex-direction: row;

    margin: 0 auto;

    width: 1220px;
    height: 460px;
  }

  .example__food-stats {
    flex-direction: column;

    margin: 0;
    padding: 0;

    width: 610px;
    background-color: @lightgray;
  }

  .example__text {
    padding-top: 70px;

    width: 440px;

    background-color: @lightgray;
  }

  .example__item {
    background-color: @lightgray;
  }

  .example__list {
    margin-top: 22px;

    background-color: inherit;
  }

  .example__result-text {
    background-color: inherit;
  }

  .example__text-summarize {
    display: block;

    margin-bottom: 70px;

    width: 440px;

    text-align: left;
    background-color: inherit;
  }

  .example__text-summarize span {
    padding-left: 60px;
  }

  .example__catchange {
    width: 730px;
  }

  .example__catchange img {
    top: -212px;
    left: 16px;
  }

  .example__catchange-text:nth-child(1) {
    margin-left: 0;
  }

  .example__slider-block {
    margin-top: 0;
    margin-right: 0;
  }
}
