.how-it-works {
  margin: 0 auto;
  width: 87.5%;
  min-height: 447px;

  background-color: #ffffff;
  /*.outline(yellow);*/
  text-align: left;
}

.how-it-works__title {
  .list-reset;
  padding-top: 17px;
  /* .outline(orange); */
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  color: @black;
}

.how-it-works__list {
  .list-reset;

  min-height: 322px;
  margin-top: 29px;
  list-style: none;

}

/* временный набросок, чтобы прикинуть размеры */
.how-it-works__item {
  position: relative;
  margin-left: 80px;
  min-height: 80px;
  /* .outline(green); */

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: -80px;
    top: -1px;
    width: 60px;
    height: 60px;
  }
}

.how-it-works__item--natural::before {
  background: url("../../img/advantage-leaf@1x.png") no-repeat 5px 5px,
  @green;
}

.how-it-works__item--sublime::before {
  background: url("../../img/advantage-powder@1x.png") no-repeat 5px 5px,
  @green;
}

.how-it-works__item--change::before {
  background: url("../../img/advantage-dining@1x.png") no-repeat 5px 5px,
  @green;
}

.how-it-works__item--month::before {
  background: url("../../img/advantage-clock@1x.png") no-repeat 5px 5px,
  @green;
}
@media (min-width: @tablet-width) {
  .how-it-works {
    width: 92.19%;
    min-height: 782px;
  }

  .how-it-works__title {
    min-height: 132px;
    font-size: 60px;
    line-height: 60px;
    padding-top: 36px;
  }

  .how-it-works__list {
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 604px;
    /* .outline(purple); */
  }

  .how-it-works__item {
    position: relative;
    box-sizing: border-box;
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 67px;
    /* width: 45.76%; */
    width: 32.49%;
    z-index: 2;
    min-height: 250px;
    /* .outline(lightseagreen);*/
    padding-top: 111px;
    font-size: 16px;
    line-height: 24px;

  }

  .how-it-works__item:nth-child(even) {
    margin-right: 94px;

  }

  .how-it-works__item::before {
    left:0;
    top:0;
    width: 80px;
    height: 80px;
  }

  .how-it-works__item--natural::before {
    background: url("../../img/advantage-leaf@1x.png") no-repeat 15px 15px,
    @green;
  }

  .how-it-works__item--sublime::before {
    background: url("../../img/advantage-powder@1x.png") no-repeat 15px 15px,
    @green;
  }

  .how-it-works__item--change::before {
    background: url("../../img/advantage-dining@1x.png") no-repeat 15px 15px,
    @green;
  }

  .how-it-works__item--month::before {
    background: url("../../img/advantage-clock@1x.png") no-repeat 15px 15px,
    @green;
  }

  .how-it-works__item::after {
    display: block;
    position: absolute;
    font-family: "Oswald", "Arial", sans-serif;;
    font-size: 281.07px;
    color: #f2f2f2;
    z-index: -1;
  }

  .how-it-works__item--natural::after {
    left: 119px;
    top: 89px;
    content: "1";
  }
  .how-it-works__item--sublime::after {
    left: 110px;
    top: 89px;
    content: "2";
  }
  .how-it-works__item--change::after {
    left: 112px;
    top: 89px;
    content: "3";
  }
  .how-it-works__item--month::after{
    content: "4";
    left: 112px;
    top: 89px;
  }
}

@media (min-width: @desktop-width) {
  .how-it-works {
    width: 1220px;
    min-height: 462px;
  }

  .how-it-works__title {
    display: inline-block;
    margin-top: 71px;
    min-height: 132px;
    padding-top: 2px;

    font-size: 60px;
    line-height: 60px;
  }

  .how-it-works__list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-height: 250px;
    /* .outline(yellow); */
  }
  .how-it-works__item {
    width: 241px;
    margin-bottom: 0px;
  }
  .how-it-works__item:nth-child(even) {
    margin-right: 0;
  }
}
