.how-it-works {
  background-color: #ffffff;
  .outline(orange);
  margin-top: 22px;
  margin-left: 22px;
  margin-right: 22px;
}

.how-it-works__title {
  .font-heading(400, none);
  .font-style(36px, 60px);
  color: @black;
  margin: 0px;
  text-align: center;
  .outline(orange);

}

.how-it-works__list {
  list-style: none;
}


