.how-it-works {
  margin: 0 auto;
  width: 280px;
  min-height: 447px;

  background-color: #ffffff;
  .outline(yellow);
  text-align: left;
}

.how-it-works__title {
  .list-reset;
  min-height: 125px;

  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  color: @black;
}

.how-it-works__list {
  .list-reset;
  min-height: 322px;

  list-style: none;
  .outline(purple);
}

/* временный набросок, чтобы прикинуть размеры */
.how-it-works__item {
  margin-top: 28px;
  margin-left: 80px;
  min-height: 28px;
  .outline(blue);

  &::before {
    content: "";
    display: block;
    position: absolute;
    margin-left: -80px;
    width: 60px;
    height: 60px;

    background-color: @green;
  }
}

@media (min-width: @tablet-width) {
  .how-it-works {
    width: 708px;
    min-height: 782px;
  }

  .how-it-works__title {
    min-height: 178px;
  }

  .how-it-works__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 604px;
  }

  /* временный набросок, чтобы прикинуть размеры */
  .how-it-works__item {
    margin-top: 0;
    margin-left: 0;
    width: 260px;
    height: 250px;

    &::before {
      position: relative;
      margin-left: 0;
    }
  }
}

@media (min-width: @desktop-width) {
  .how-it-works {
    width: 1220px;
    min-height: 462px;
  }

  .how-it-works__title {
    display: inline-block;
    margin-top: 77px;
    min-height: 134px;

    font-size: 60px;
    line-height: 60px;
  }

  .how-it-works__list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-height: 278px;
  }
}
