.main-catalog__list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.main-catalog__goods-title {
  .font-heading(400, uppercase);
  .font-style(16px, 20px);
  a {
    color: @black;
  }
}

.main-catalog__goods-chars {
  color: @darkgray;
  .font-style(12px, 16px);
}
