.main-catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
  .outline(tomato);
}

.main-catalog__goods-title {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;

  a {
    color: @black;
  }
}

.main-catalog__goods-chars {
  color: @darkgray;
  font-size: 12px;
  line-height: 16px;
}

.main-catalog__button {
  .button("catalog");
}
