.page-main {
  margin: 0 auto;

  width: 100%;
  /*.outline(gray);*/
}

.page-main__title {
  .list-reset;

  box-sizing: border-box;

  display: inline-block;

  padding-top: 16px;
  padding-left: 20px;
  padding-bottom: 15px;

  width: 100%;
  border-bottom: 1px solid #e6e6e6;
  min-height: 105px;

  font-size: 36px;
  line-height: 60px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: none;
  text-align: left;
  /*.outline(orange); */
}

@media (min-width: @tablet-width) {
  .page-main {
    width: 100%;
  }

  .page-main__title {
    padding-top: 58px;
    padding-left: 30px;

    min-height: 143px;

    font-size: 60px;
    line-height: 60px;
  }
}

@media (min-width: @desktop-width) {
  .page-main {
    width: 100%;
  }

  .page-main__title {
    padding-top: 72px;
    padding-left: 110px;
    min-height: 158px;
  }
}
