.page-header {
  margin: 0 auto;
  width: 320px;
  /*временно для сетки */
  min-height: 264px;

  .outline(blue);
}

.page-header__container {
  display: flex;
  flex-direction: column;

  .outline(rgb(73, 250, 241));
}

.page-header__logo-wrapper {
  display: flex;
  flex-direction: row;
  /* временно space-between, потом разверстаю через margin, т.к. toggle будет псевдоэлементом*/
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 280px;
  height: 65px;

  .outline(green);
}

.page-header__logo:hover {
  opacity: 0.6;
}

/*заглушка на кнопку*/
.page-header__toggle-menu {
  display: block;
  width: 18px;
  height: 18px;

  background-color: @lightgray;
  cursor: pointer;
  border: none;
}

@media (min-width: @tablet-width) {
  .page-header {
    width: 768px;
    /*временно для сетки */
    min-height: 79px;
  }

  .page-header__container {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 708px;
  }

  .page-header__toggle-menu {
    display: none;
  }

  .page-header__logo-wrapper {
    width: 173px;
    height: 100%;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    position: relative;
    width: 1440px;
    min-height: 0;
    /*временно для сетки */
  }

  .page-header__logo-wrapper {
    width: 202px;
  }

  .page-header__container {
    flex-direction: row;
    justify-content: space-between;
    width: 1220px;
    min-height: 115px;
  }

  .page-header__container--main {
    position: absolute;
    left: 110px;
  }
}
