.page-main {
  margin: 0 auto;

  width: 100%;
}

.page-main__title {
  .list-reset;

  box-sizing: border-box;

  display: inline-block;

  padding-top: 16px;
  padding-left: 20px;
  padding-bottom: 15px;

  width: 100%;
  border-bottom: 1px solid #e6e6e6;
  min-height: 105px;

  font-size: 36px;
  line-height: 60px;
  .font-oswald;
  text-align: left;
  /*.outline(orange); */

  &--form {
    border-bottom: 0;
    min-height: 101px;
  }
}

.page-main__form-text {
  .list-reset;

  padding-left: 20px;
  padding-bottom: 2px;

  min-height: 73px;
  width: 250px;

  font-size: 14px;
  line-height: 18px;
  .font-oswald(uppercase);
  color: @black;
}


@media (min-width: @tablet-width) {
  .page-main {
    width: 100%;
  }

  .page-main__title {
    padding-top: 54px;
    padding-left: 30px;

    min-height: 139px;

    font-size: 60px;
    line-height: 60px;

    /*.outline(lightseagreen);*/
  }

  .page-main__form-text {
    width: 350px;

    padding-left: 70px;
    padding-top: 30px;

    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .page-main {
    margin: 0 auto;
    .outline(orange);
  }

  .page-main__title {
    padding-top: 71px;
    padding-left: 40px;
    min-height: 155px;

    width: 1220px;
    margin: 0 auto;
    border-bottom: 0;
  }

  .page-main__form-text {
    padding-top: 31px;
    padding-left: 40px;
  }
}
