.page-header {
  position: relative;

  margin: 0 auto;

  width: 100%;
  /*.outline(blue);*/
}

.page-header__container {
  display: flex;
  flex-direction: column;

  color: black;
  /* .outline(rgb(73, 250, 241)); */
}

.page-header__logo {
  display: inline-block;
  margin-top: 11px;
  margin-left: 19px;
  margin-bottom: 12px;
  /*.outline(green);*/
}

.page-header__logo img {
  width: 193px;
  height: auto;
}

.page-header__logo:hover {
  opacity: 0.8;
}

.page-header__logo:active {
  opacity: 0.6;
}

@media (min-width: @tablet-width) {
  .page-header {
    width: 100%;
  }

  .page-header__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    margin: 0 auto;

    width: 92.19%;
    min-height: 82px;

    /*.outline(purple);*/
  }

  .page-header__logo {
    margin: 0;
    margin-top: 25px;
  }

  .page-header__logo img {
    width: 173px;
    height: auto;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    width: 1300px;
    min-height: 0;
  }

  .page-header__logo {
    margin-top: 53px;
  }

  .page-header__container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 1220px;
    min-height: 115px;
  }

  .page-header__container--main {
    position: absolute;
    left: 40px;
    a:visited {
      color: @white;
    }
  }

  .page-header__logo img {
    width: 202px;
    height: auto;
  }
}
