.page-main {
  margin: 0 auto;

  width: 100%;
  /*.outline(gray);*/
}

.page-main__title {
  .list-reset;

  box-sizing: border-box;

  display: inline-block;

  padding-top: 16px;
  padding-left: 20px;
  padding-bottom: 15px;

  width: 100%;
  border-bottom: 1px solid #e6e6e6;
  min-height: 105px;

  font-size: 36px;
  line-height: 60px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: none;
  text-align: left;
  /*.outline(orange); */

  &--form {
    border-bottom: 0;
    .outline(green);
    min-height: 101px;
  }
}

.page-main__form-text {
  .list-reset;

  padding-left: 20px;

  min-height: 73px;
  width: 250px;

  font-size: 14px;
  line-height: 18px;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: @black;
}


@media (min-width: @tablet-width) {
  .page-main {
    width: 100%;
  }

  .page-main__title {
    padding-top: 58px;
    padding-left: 30px;

    min-height: 143px;

    font-size: 60px;
    line-height: 60px;
  }

  .page-main__form-text {
    width: 350px;

    padding-left: 70px;
    padding-top: 30px;

    .outline(yellow);
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .page-main {
    width: 100%;
  }

  .page-main__title {
    padding-top: 72px;
    padding-left: 110px;
    min-height: 158px;
  }

  .page-main__form-text {
    padding-left: 110px;
  }
}
