.promo-catalog {
  margin: 0px;
  margin-top: 22px;
  margin-left: 22px;
  margin-right: 22px;
  padding: 0px;
  text-align: center;
  .outline(green);
}

.promo-catalog__list {
  margin: 0px;
  padding: 0px;
}

.promo-catalog__title,
.promo-catalog__link {
  .font-heading(400, uppercase);
  color: @black;
  margin: 0px;


}

.promo-catalog__title {
  .font-style(24px, 37.02px);
}

.promo-catalog__link {
  .font-style(16px, 16px);
}

.promo-catalog__item {
  list-style: none;
  background-color: @lightgray;
}


