.promo {
  margin: 0 auto;

  min-height: 481px;

  color: @white;
  text-align: center;
}

.promo__wrapper-green {
  height: 306px;

  background-color: @green-promo;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
    background-size: 320px auto;
  }
}

.promo__wrapper-white {
  background-color: @white;
  padding-top: 134px;
}

.promo__heading {
  .list-reset;

  margin: 0 auto;
  padding-top: 27px;

  .font-oswald;
  font-size: 36px;
  line-height: 36px;

  width: 280px;
}

.promo__text {
  .list-reset;

  padding-top: 25px;
  padding-bottom: 28px;

  .font-oswald;
  text-transform: uppercase;
  line-height: 14px;
}

.promo__button {
  .button("promo");
  display: inline-block;

  padding-top: 10px;

  width: 87.5%;
  height: 30px;

  &:hover {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.302);
  }
}

@media (min-width: (@tablet-width)) {
  .promo {
    min-height: 865px;
    width: 92.19%;

    text-align: left;
  }

  .promo__heading {
    margin-left: 87px;
    padding-top: 54px;

    width: 500px;

    font-size: 60px;
    line-height: 60px;

    text-align: left;
  }

  .promo__text {
    margin-top: 16px;
    margin-left: 88px;

    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }

  .promo__wrapper-green {
    height: 287px;

    background: none;
  }

  .promo__wrapper-green img {
    margin-top: -8px;

    padding-left: 0;

    width: 709px;
    height: auto;
  }

  .promo__wrapper-white {
    padding-top: 0;
    padding-left: 90px;

    text-align: left;
  }

  .promo__heading,
  .promo__text {
    color: @black;
  }

  .promo__button {
    box-sizing: border-box;

    margin-top: -3px;
    padding-left: 24px;
    padding-top: 14px;

    width: 245px;
    height: 52px;

    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
  }
}

@media (min-width: (@desktop-width)) {
  .promo {
    display: flex;
    flex-direction: row-reverse;

    width: 100%;
    min-height: 768px;
  }

  .promo__wrapper-green {
    margin-left: 0;
    width: 100%;
    height: 696px;

    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-color: #64a83b;
    background-size: 110%;
    background-position-y: 50%;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg");
      background-repeat: no-repeat;
      background-size: 110% auto;
    }
  }

  .promo__heading {
    position: absolute;

    margin-left: -530px;
    margin-top: 168px;
    z-index: 1;
  }

  .promo__text {
    position: absolute;

    margin-left: -530px;
    margin-top: 358px;
    z-index: 1;
  }

  .promo__wrapper-green img {
    position: absolute;

    padding: 0;
    width: 552px;
    height: auto;

    margin-left: -159px;
    margin-top: 141px;
    z-index: 2;
  }

  .promo__wrapper-white {

    position: relative;
    padding-left: 0;
    width: 100%;
    height: 50px;
    z-index: 1;
  }

  .promo__button {
    position: absolute;
    top: 459px;
    right: 284px;
  }
}
