.promo {
  margin: 0 auto;
  color: @white;
  text-align: center;
  height: 481px;
  .outline(purple);
  width: 320px;
}

.promo__wrapper-green {
  background-color: @green;
  background-image: url("../../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  height: 306px;
}

.promo__wrapper-white {
  background-color: @white;
}

.promo__heading {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}

.promo__text {
  margin: 0;
  padding: 0;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 14px;
}

.promo__button {
  .button("promo");
}

@media (min-width: (@tablet-width)) {
  .promo{

    height: 871px;
    width: 708px;
  }
  .promo__wrapper-green {
    background-color: @white;
    background: none;
  }
  .promo__heading,
  .promo__text {
    color: @black;
  }
}

@media (min-width: (@desktop-width)) {
  .promo{
    display: flex;
    flex-direction: row-reverse;
    width: 1440px;
  }

  .page-header__container {
    .outline(rgb(23, 221, 49));
    margin: 0 auto;
    width: 1220px;
    position: relative;
  }
  .page-header {
    position: absolute;
  }
  .promo__wrapper-green {
    background-color: @green;
    background-image: url("../../img/index-background-desktop@1x.jpg");
    width: 720px;
    height: 696px;
  }
}
