.promo {
  color: @white;
  .outline(purple);
  text-align: center;
}

.promo__wrapper-green {
  background-color: @green;
  background-image: url("../../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

.promo__wrapper-white {
  background-color: @white;
}

.promo__heading {
  margin: 0px;
  padding: 0px;

  .font-heading(400, none);
  .font-style(36px, 36px);
}

.promo__text {
  margin: 0px;
  padding: 0px;

  .font-heading(400, uppercase);
  .font-style(14px, 14px);
}



