.site-list {
  margin: 0px;
  padding: 0px;

  text-align: center;
  .outline(green);

}

.site-list__item {
  list-style: none;
}

.site-list__item a {
  margin: 0px;
  .font-heading(500, uppercase);

  .font-style(20px, 20px);
  color: @black;

}

.site-list__item a:hover,
.site-list__item a:focus {
  opacity: 0.6;
}
