.social {
  width: 87.2%;
  min-height: 62px;

  border-bottom: 1px solid #d9d9d9;
}

.social__list {
  .list-reset;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;
  margin-top: 23px;

  width: 47.88%;

  list-style: none;
}

.social__link {
  box-sizing: border-box;

  &--instagram {
    padding-right: 3px;
  }

  &--facebook {
    padding-right: 9px;
  }

  fill: #666666;

  &:hover {
    fill: #68b738;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .social {
    width: 140px;
    margin-left: 20px;

    border-bottom: 0;
  }

  .social__link {
    &--vkontakte svg {
      margin-left: 6px;
      padding-right: 2px;

      width: 30px;
      height: 16px;
    }

    &--instagram svg {
      width: 23px;
      height: 23px;
    }

    &--facebook svg {
      width: 14px;
      height: 28px;
    }
  }

  .social__list {
    min-width: 100%;
  }
}
