.outline(@color: red) {
  outline: 2px solid @color;
}

.button(@style) when (@style = 'promo') {
  color: @white;
  background-color: @green;
  text-align: middle;
  text-transform: uppercase;
  .font-heading(400, uppercase);
  .font-style(14px, 18px);
}

.button(@style) when (@style = "catalog") {
  color: @white;
  background-color: @green;
  text-align: middle;
  text-transform: uppercase;
  .font-heading(400, uppercase);
  .font-style(16px, 20px);
}
