.font-heading(@weight: 400; @transform: none) {
  font-family: "Oswald", Arial, sans-serif;
  font-weight: @weight;
  text-transform: @transform;
}

.font-style(@font-size; @line-height) {
  font-size: @font-size;
  line-height: @line-height;
}

.outline(@color: red) {
  outline: 2px solid @color;
}
